<div class="container">
  <h1>The details of the todo are as follows:</h1><br>
  <ul class="list-group">
    <li class="list-group-item">Name: <%= item.name %></li>
    <li class="list-group-item">Description: <%= item.description %></li>
    <li class="list-group-item">Completed: <%= item.completed %></li>
    <li class="list-group-item">ID: <%= item._id %></li>
  </ul>
</div>
